.box {
    display: flex;
    font-size: 30;
}

.picture {
    width: 40%;
    height: 25%;
    margin-right: 5%;
    margin-top: 4%;
}

.arasuzi{
    font-size: 2vw;
}

.header {
    text-align: left;
    position: fixed; /* ヘッダーを固定する */
    top: 0; /* 上部から配置の基準位置を決める */
    left: 0; /* 左から配置の基準位置を決める */
    width: 100%; /* ヘッダーの横幅を指定する */
    height: 60px; /* ヘッダーの高さを指定す%る */
    padding: 0%; /* ヘッダーの余白を指定する(上下左右) */
    background-color: white; /* ヘッダーの背景色を指定する */
    border-bottom: solid 1px;
    border-color: gray;
  }

.logo {
    margin-left: 5px;
    margin-top: 7px;
    width: 130px;
    height: 40px;

}

.container {
    overflow: auto;
    padding: 0% 5% 0% 5%;
    margin: 50px 5% 0% 50px;
    display: inline;
    width: 90%;
    height: 100%;
    background-color: white;
  }

.background {
    display: flex;
    background-color: rgb(237, 170, 204);
}