.image-container {
    display: flex;
    justify-content: space-around;
}
.img{
    width: 380px;  /* ここで横幅を設定します */
    height: 200px; /* ここで高さを設定します */
    object-fit: cover; /* アスペクト比を保ちながら適切にクロップします */
}
